.dashboard-wrapper{
    & .greeting-card{
        padding: 20px;
        // background: rgb(255, 245, 227);
        box-shadow: 1px 2px 5px 2px var(--accent);
        & span{
            display: block;
            margin: 40px 0 8px 0;
            color: grey;
        }
        & h2{
            font-family: 'Raleway';
            font-size: 10vw;
            margin: 0;
        }
    }
}