.weather-summary-wrapper{
    .snap-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 70%) 40px;
        column-gap: 20px;
        overflow-x: scroll;
        scroll-snap-type: y mandatory;
        overscroll-behavior: none;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        &::-webkit-scrollbar { /* WebKit */
            width: 0;
            height: 0;
        }
    }
    & span{
        font-size: 1.8rem;
        font-family: 'Alata';
        display: inline-block;
        margin-bottom: 10px;
        font-weight: bold;
    }
    & .card{
        scroll-snap-align: center;
        background-color: var(--bg-secondary);
        box-shadow: var(--bg-secondary-border);
        border-radius: 10px;
        margin-bottom: 15px;
        overflow: hidden;
        & .content{
            padding: 20px;
            & h3{
                font-size: 6.5rem;
                margin: 20px 0 0 0;
                line-height: calc(7rem - 30px);
            }
            & span{
                font-size: 1.4rem;
                font-family: 'Josefin Sans', sans-serif;
            }
            & p{
                font-family: 'Alata';
                font-size: 0.85rem;
                color: var(--text-color-secondary);
            }
        }
    }
}