.restaurants-wrapper{
    & header{
        padding: 50px 20px 20px 20px;
        box-shadow: 1px 2px 5px 2px var(--accent);
        margin-bottom: 20px;
        & span{
            font-size: 0.8rem;
            color: var(--text-color-disabled);
        }
        & h2{
            font-family: 'Raleway';
            font-size: 10vw;
            margin: 0;
        }
    }
    & main{
        padding: 20px 20px 100px 20px;

        & .map{
            height: 300px;
            border-radius: 10px;
            overflow: hidden;
            & .error{
                background-color: var(--bg-secondary);
                padding: 40px;
                height: 100%;
                width: 100%;
                text-align: center;
                & button{
                    border: none;
                    border-radius: 0;
                    padding: 10px;
                }
            }
        }
        & h3{
            font-family: 'Alata';
            font-size: 1.5rem;
        }
    }

}
.restaurant-wrapper{
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    background-color: var(--bg-secondary);
    box-shadow: var(--bg-secondary-border);
    & span{
        font-size: 1rem;
        color: var(--text-color-disabled);
    }
    & .menu-wrapper{
        max-height: 0px;
        transition: max-height 350ms;
        overflow: hidden;
        padding: 0 15px 0 15px;
        & h3{
            text-align: center;
            font-size: 1.5rem;
            font-family: 'Alata';
        }
        &.expanded{
            overflow-y: scroll;
            height: auto;
            max-height: 1000px;
        }
        & .menu-item{
            font-size: 1.1rem;
            padding: 20px 0 15px 0;
            border-top: 1px solid var(--text-color-disabled);
            & span{
                color: var(--text-color-disabled);
            }
        }
    }
}