.history-wrapper{
    padding: 20px;
    & h3{
        display: block;
        text-align: center;
        font-size: 2rem;
        margin: 20px 0 0 0;
        font-family: 'Alata';
    }
    & .history-item{
        margin: 20px;
        font-size: 0.8rem;
        color: grey;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--text-color-primary);
        & p{
            font-size: 1.5rem;
            color: var(--text-color-primary);
            font-weight: bold;
            margin: 0;
        }
        & .expand-icon{
            right: 40px;
            margin-top: 15px;
            position: absolute;
            & svg{
                fill: var(--text-color-primary);
            }
        }
        & span{
            font-size: 1rem;
            font-weight: bold;
            color: var(--accent);
        }
        & .details{
            box-sizing: border-box;
            max-height: 0px;
            height: auto;
            transition: max-height cubic-bezier(0, 1, 0, 1) 350ms;
            overflow: hidden;
            &.open{
                overflow-y: scroll;
                max-height: 2000px;
                transition: max-height cubic-bezier(1, 0, 1, 0) 350ms;
            }
            & .history-food{
                margin: 10px 0 0 30px;                
                & h4{
                    margin: 0;
                    font-size: 1.4rem;
                }
                & .fact{
                    display: grid;
                    margin-left: 20px;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}