:root{
	--accent: #00ccff;
	--text-color-primary: #000000;
	--text-color-secondary: #333333;
	--text-color-disabled: #888888;
	--bg-primary: #151719;
	--bg-secondary: #353739;
	--bg-secondary-border: 0px 0px 0px 0px #000000;
}
*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	background-color: var(--bg-primary);
	color: var(--text-color-primary);
	font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	overscroll-behavior: none;
	transition: background-color 350ms, color 350ms;
}