:root{
	--accent: #00ccff;
	--text-color-primary: #000000;
	--text-color-secondary: #333333;
	--text-color-disabled: #888888;
	--bg-primary: #151719;
	--bg-secondary: #353739;
	--bg-secondary-border: 0px 0px 0px 0px #000000;
}
*{
	box-sizing: border-box;
}
html, body{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-height: 400px;
	overflow-x: hidden;
	margin: 0;
	background-color: var(--bg-primary);
	color: var(--text-color-primary);
	font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	overscroll-behavior: none;
	scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
	transition: background-color 350ms, color 350ms;
}
html::-webkit-scrollbar, body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}